* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("/Images/heart3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    width: 20%;
}

li a{
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border: 3px solid black;
}

li a:hover{
    background-color: red;
}

a:visited{
    color: black;
}

.SScontainer{
    position: relative;
}

.Slideshow {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover:{
    background-color: rgba(0, 0, 0, 0);
}