* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("/Images/heart3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    width: 20%;
}

li a{
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border: 3px solid black;
}

li a:hover{
    background-color: red;
}

a:active{
    color: white;
}
a:visited{
    color: black;
}
