* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("heart3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    flex: auto;
    flex-direction: row;
}